<div class="header">
  <h2>List of all customers and there Id's</h2>
  <button class="btn" (click)="onClickInvite()">Invite Customers</button>
</div>

<div class="spacing"></div>

<div class="container">
  <div class="col-customer-one" *ngIf="invite ? false : true">
    <h3>List of all customers and ids</h3>
    <app-customer-item
      *ngFor="let customer of customer"
      [customer]="customer"
    ></app-customer-item>
  </div>
  <div class="col-customer-one" *ngIf="invite ? true : false">
    <h3>List of customers within hundered km</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody *ngFor="let listOfCustomers of listOfCustomers">
        <tr>
          <td>{{ listOfCustomers.name }}</td>
          <td>{{ listOfCustomers.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
